*{
	margin:0;
	padding:0;
}

body{
	font-family:"Roboto", arial, sans-serif;
	background: #fff url(http://pogoda.ictv.ua/images/design/body_bg_02.jpg) center top no-repeat;
	height: 450px;
	background-size: auto;
	color:#fff;

}

.nav{
	width: 20%;
	height: 50px;
	overflow:hidden;
	background: rgba(139, 137, 137, 0.5);
	text-align: center;
	color: #191919;
	font-size: 18px;
}

ul{
	list-style: none;
}

.nav li{
	cursor: pointer;
	text-align: center;
	width: 100%;
	vertical-align:middle;
	line-height:50px;
}

.nav p{
	line-height:50px;
}

#weather-block{
	background: url('http://pogoda.ictv.ua/images/design/body_bg_02.jpg') center top no-repeat;
	position: absolute;
	opacity: 0;
	filter:alpha(opacity=0);
	min-height: 400px;
	width: 60%;
	left: 22%;
	top: 50px;
	z-index: 2;
	padding-left: 1em;
}

h1{
	margin:0 0;
	margin-bottom: 1.5em;
	font-weight: normal;
	font-size: 3em;
	color:#fff;
	padding-bottom: 10px;
}

h2{
	color:#fff;
	font-weight: normal;
}

span{
	font-size: 5em;
	color:#fff;
}

div.manual{
	margin-bottom: 2em;
}
.week>li{
	padding-right: 2em;
	display: inline-block;
	font-size: 16px;
	line-height: 2.5em;
}
@media only screen and (max-width: 600px) {
    .nav {
        width: 100%;
        height: 50px;
		}

		#weather-block {
			position:relative;
			width: 90%;
			left: 2%;
		}
}

